body{
	background-color:#000000;
color:#ffffff;
}

#nav-1 {
	color: blue; 
text-align:right;
}

#nav-2 {
	color: red; 
	text-align:right;

}
#nav-3 { 
	color:#FF0000;

text-align:right;
}

#menu a {
	text-decoration:none; 
	font-size:30px				
}

ul {
	list-style-type: square;
}

ul#menu {
	display:none;

}
ul#menu li {
	float:left ;
}
section {
	width: 70%;
	border: 1px solid black;
}

header{
	border: 1px solid black;
	margin:0px;
	text-align:left; 
}

	
 header p{
    font-style:italic;
    font-size:20px;
    text-align:right;
}        
.help-site{
	font-style:italic;
	
}
#no-good{
	position:absolute;
	bottom:5px;
    height:200px;
    width:30%;
}
