@font-face {
    font-family: 'bad_grungeregular';
    src: url('fonts/bad_grunge-webfont.eot');
    src: url('fonts/bad_grunge-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bad_grunge-webfont.woff') format('woff'),
         url('fonts/bad_grunge-webfont.ttf') format('truetype'),
         url('fonts/bad_grunge-webfont.svg#bad_grungeregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);

body{
	background: url(pictures/bg.png);
	font-family: 'Finger Paint', cursive;
	color:#ffffff;
	margin:0px;
	padding:0px;
}

#nav-1 {
	color: blue; 
text-align:right;

}

#nav-2 {
	color: #FFD700	; 
	text-align:right;

}
#nav-3 { 
	color:#FF0000;

text-align:right;
}

#menu a {
	text-decoration:none; 
	font-size:74px;
	font-weight:normal; 
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

	#menu li { margin: 0 0 .2em 0; }

	#menu a
	{
	display: block;
	color: #fff;
	background-color: #036;
	width: 9em;
	padding: .2em .8em;
	text-decoration: none;
	}

	#menu a:hover
	{
	background-color: #369;
	color: #FFF;
	}
#menu a.active{
	background-color: #369;
	color: #FFF;
}
ul { 
	list-style-type: square;
}

ul#menu {
	list-style-type: none;
	padding-left: 0;
	font-family:'bad_grungeregular';
}

ul#menu:after {
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul#menu li {
	float:left ;
	margin-right:35px;
	padding: 5px;
}

ul#menu li:hover {
	background: transparent url('pictures/menu-background-white-small.png') center no-repeat;
}

section {
	clear:both;
}

header{
	margin:0px;
	text-align:center; 
}
	
header p{
	font-family: 'Impact';
    font-style:italic;
    font-size:38px;
    text-align:center;
    margin-top:0px;
}  

header h1{
	margin:0px;
	font-family: 'bad_grungeregular';
	color:#ffffff;
	font-size:289px;
	padding-top:25px;
	
}

header h1 a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}
 
header section, 
section#content {
	width:700px;
	margin: 0 auto;
	
}
.cool-font{
	font-friday night lights 	
	
}
