body {
	padding-top:70px;
	background:rgba (240,252,255,.8);
}
.wrap{
	margin: 0 auto;
	padding: 110px 0;
	width:85%;
	background:#f0fcff;
	box-shadow:0 0 20px rgba(0,0,0,.5);
}
.box{
	margin:auto;
	width:150px;
	background:url('../../blue-home-icon.jpg');
	background-size:150px;
}
.mike{
	display:block;
	width:100%;
	-webkit-transform: rotate(-45deg);
}